@font-face {
    font-family: JejuGhotic;
    src: url(JejuGothic-Regular.ttf);
}

.Título {
    color: rgb(255, 255, 255);
}

h1 {
    font-family: JejuGhotic;
}

footer {
    background-color: #757899;
}